//Colores
$palette: (
  "primary": hsl(228, 66%, 53%),
  "primary-alt": hsl(228, 66%, 47%),
  "primary-light": hsl(228, 62%, 59%),
  "secondary": hsl(25, 83%, 53%),
  "title-color":hsl(228, 57%, 28%),
  "text-color": hsl(228, 15%, 50%),
  "text-color-light": hsl(228, 12%, 75%),
  "container-color": hsl(228, 99%, 98%),
  "dark": #000,
  "white": #fff
);

//Font
$font-primary: 'Poppins', sans-serif;


//breakpoints media query
$breakpoints: (
  "2sm": 350px,
  "sm": 768px,
  "md": 1000px,
  "lg": 1440px,
  "xl": 2000px
);

