* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: hsl(228, 12%, 75%);
  font-size: 1em;
}

h1, h2, h3 {
  color: hsl(228, 57%, 28%);
  font-weight: 600;
  text-transform: capitalize;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.center {
  text-align: center;
}

.btn-primary {
  display: inline-block;
  padding: 1em 1.5em;
  border-radius: 10px;
  color: #fff;
  background-color: hsl(228, 66%, 53%);
  box-shadow: hsl(228, 66%, 53%) 0px 3px 8px;
}

.btn-light {
  display: inline-block;
  padding: 0.6em 2.5em;
  font-weight: 600;
  color: #fff;
  background-color: hsl(228, 62%, 59%);
  margin-top: 1em;
  box-shadow: hsl(228, 66%, 53%) 0px 3px 8px;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 1em;
}

.title {
  color: #fff;
  margin-block: 0.4em;
  font-size: 2.5em;
}
@media (min-width: 768px) {
  .title {
    font-size: 3.75em;
  }
}

.title--small {
  color: hsl(228, 66%, 47%);
  margin-block: 0.4em;
  font-size: 2em;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .title--small {
    font-size: 3em;
  }
}

.subtitle {
  color: hsl(25, 83%, 53%);
  font-size: 1em;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .subtitle {
    font-size: 1.5em;
  }
}

.image {
  margin: 0 auto;
  width: 300px;
}
@media (min-width: 768px) {
  .image {
    max-width: 100%;
  }
}

.card {
  padding: 0.5em;
}
.card-container {
  margin-block: 1em;
  display: grid;
  grid-template-columns: repeat(1, 320px);
  gap: 1.5em;
  justify-content: center;
  transition: box-shadow 0.5s;
}
@media (min-width: 768px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }
}
.card__image {
  border-radius: 20px;
}
.card__price {
  margin-top: 1em;
  color: #777;
}
.card__price--orange {
  color: hsl(25, 83%, 53%);
}
.card__text {
  color: #777;
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.header {
  width: 100%;
  padding-block: 1em;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: hsl(228, 99%, 98%);
  position: fixed;
  top: 0;
  left: 0;
  transition: background-color 1s;
}

.nav {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
.nav__logo {
  display: flex;
  gap: 1em;
  align-items: center;
  color: hsl(228, 66%, 53%);
}
.nav__logo-image {
  width: 30px;
}
.nav__menu {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #fff;
  border-radius: 30px;
  padding: 1em;
  width: 90%;
  margin: 0 auto;
  position: fixed;
  right: 0;
  bottom: 1em;
  left: 0;
  display: flex;
  gap: 2em;
  justify-content: center;
}
@media (min-width: 768px) {
  .nav__menu {
    position: static;
    background-color: transparent;
    border-radius: none;
    padding: 0;
    gap: 2em;
    margin: 0;
    width: unset;
    box-shadow: unset;
  }
}
.nav__menu-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: hsl(228, 12%, 75%);
  display: none;
}
@media (min-width: 768px) {
  .nav__menu-element {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
.nav__menu-icon {
  font-size: 1.5em;
  padding: 0.5em;
  border-radius: 50%;
  color: #fff;
  background-color: hsl(228, 66%, 53%);
}
@media (min-width: 768px) {
  .nav__menu-icon {
    display: none;
  }
}
.nav__menu--button {
  display: none;
}

.bg-visible {
  background-color: hsl(228, 62%, 59%);
  border: none;
}

@media (min-width: 768px) {
  .home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5em;
    align-items: center;
  }
}
.home-container {
  background: linear-gradient(170deg, hsl(0, 0%, 22%) 0%, hsl(0, 0%, 6%) 30%);
}
.home__texts {
  padding-top: 10em;
}
.home__location {
  display: flex;
  align-items: center;
  margin-block: 1em;
  padding: 0.5em;
  border-radius: 10px;
  background-color: #fff;
}
.home__location-icon {
  font-size: 1.5em;
  color: hsl(228, 66%, 53%);
}
.home__location-input {
  width: 90%;
  background-color: #fff;
  border: none;
  outline: none;
  padding: 0.5em;
}
.home__feactures {
  display: flex;
  gap: 1em;
  align-items: center;
  margin-bottom: 2em;
}
.home__feactures-item {
  flex: 1;
}
.home__feactures-title {
  color: #fff;
  display: flex;
  gap: 0.5em;
  align-items: center;
  font-size: 1.5em;
}
@media (min-width: 768px) {
  .home__feactures-title {
    font-size: 2.25em;
  }
}
.home__feactures-icon {
  color: hsl(25, 83%, 53%);
}
.home__image-img {
  outline: 5px solid hsl(0, 0%, 16%);
  border-radius: 125px 125px 0 0;
}

.logos {
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.logo {
  opacity: 0.6;
  transition: opacity 1s;
}
.logo:hover {
  opacity: 1;
}

.popular {
  margin-top: 5em;
}

.value {
  margin-top: 5em;
}
@media (min-width: 768px) {
  .value {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5em;
    align-items: center;
  }
}
.value__image {
  outline: 5px solid hsl(228, 12%, 75%);
  border-radius: 125px 125px 0 0;
}

.contact {
  margin-top: 2em;
}
@media (min-width: 768px) {
  .contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5em;
    align-items: center;
  }
}
.contact__date {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  align-items: center;
}
.contact__widgets {
  margin-top: 2em;
  padding: 1em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  flex: 0 0 45%;
}
.contact__widgets-item {
  margin-block: 1em;
}
.contact__widgets-date {
  display: flex;
  gap: 1em;
}
.contact__widgets-icon {
  width: 40px;
  height: 40px;
  padding: 0.5em;
  background-color: hsl(228, 62%, 59%);
  color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact__widgets-title {
  color: hsl(228, 66%, 53%);
}
.contact__widgets-text {
  color: #777;
}
.contact__image {
  outline: 5px solid hsl(228, 12%, 75%);
  border-radius: 125px 125px 0 0;
  margin-top: 2em;
}

.subscribe {
  margin-top: 4em;
  background-color: hsl(228, 66%, 53%);
  text-align: center;
  outline: 5px solid hsl(228, 62%, 59%);
  border-radius: 20px;
  padding-block: 2em;
}

.footer {
  margin-block: 3em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}
@media (min-width: 768px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2em;
  }
}
.footer__desc {
  margin-top: 1em;
  color: #777;
}
.footer__widget {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}
.footer__title-social {
  text-align: center;
}
.footer__social {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}
.footer__social-icon {
  font-size: 1.5em;
  display: flex;
  gap: 1em;
}

/*# sourceMappingURL=style.css.map */
